{% extends "layout.html" %}
{% block content %}

<style>
* {
  box-sizing: border-box;
}

.top-sites-label{
color: black;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
.column:hover{
border: 1px solid grey;
}

.top-sites-text{
font-size: 12px;
margin: 5px;
}
</style>

<h2 class="pagename">Lake Bosomtwe</h2>

<div class="row">
<div class="column">
    <a href="#" target="_top"><img src="{{url_for('static', filename='lakeBosomtwe.jpg')}}" style="width:100%"></a>
  </div>
    <div class="column">
    <a href="#" target="_top"><img src="{{url_for('static', filename='bosomtwe2.jpg')}}" style="width:100%"></a>
  </div>
    <div class="column">
    <a href="#"><img src="{{url_for('static', filename='bosomtwe3.jpg')}}" style="width:100%"></a>
  </div>
    <p>Lake Bosumtwi is the only natural lake in Ghana. It is situated within an ancient impact crater that is about 10.5 kilometres in diameter. It is about 30 km south-east of Kumasi, the capital of Ashanti, and is a popular recreational area.
        There are about 30 villages near the crater lake of Lake Bosumtwi, with a combined population of about 70,000. The most popular amongst the villages where tourists usually settle is Abono. The Ashanti consider Bosumtwi a sacred lake.
        According to traditional belief, the souls of the dead come here to bid farewell to the goddess Asase Ya. Because of this, it is considered permissible to fish in the lake only from wooden planks.
        Amongst the fish species in the lake is the endemic cichlid Hemichromis frempongi, and the near-endemic cichlids Tilapia busumana and T. discolor. <a href="https://en.wikipedia.org/wiki/Lake_Bosumtwi" target="_blank">Wikipedia</a>
    </p>
        <label class="book-label">Book</label>
</div>

<p style="text-align:center"><i>book for your tour</i></p>
<form action="" method="">
  <label for="placename">Where to:</label>
  <select id="placename">
      <option value="Mount Afadja">Mount Afadja</option>
      <option value="Kwame Nkrumah">Kwame Nkrumah Memorial Park</option>
      <option value="Kakum National Park">Kakum National Park</option>
      <option value="Lake Bosomtwe">Lake Bosomtwe</option>
      <option value="Elmina Castle">Elmina Castle</option>
      <option value="Accra">Accra</option>
      <option value="Boti Waterfalls">Boti Waterfalls</option>
      <option value="Jubilee House">Jubilee House</option>
      <option value="Larabanga Mosque">Larabanga Mosque</option>
      </select> <br>
  <label for="howmany">How many:</label>
  <input type="number" min="1" max="5" placeholder="number of persons" id="howmany" name="howmany"><br><br>
  <label for="arrivals">Arrival date:</label>
  <input type="date" placeholder="" id="arrivals" name="arrivals"><br>
    <label for="leaving">Leaving Date:</label>
  <input type="date" placeholder="date of departure" id="leaving" name="leaving"><br>
    <input type="submit" value="Submit">
</form>

{% endblock %}