{% extends "layout.html" %}
{% block content %}
<h2 class="pagename" style="color:white">User Login</h2>
<p style="text-align:center; color:white">Please fill the form to login</p>

<style>
  body{
  background-image: url('/static/flag.jpg');
  background-repeat: cover;
  }
</style>

<form action="/action_page.php" method="post" class="form">
  <div class="imgcontainer">
    <img src="{{url_for('static', filename='img_avatar1.png')}}" alt="Avatar" class="avatar">
  </div>

  <div class="container">

    <label for="email"><b>Email</b></label>
    <input type="text" id="email" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" id="psw" placeholder="Enter Password" name="psw" required>

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="unchecked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>


{% endblock content %}